@mixin flex(
  $justify-content: flex-start,
  $align-items: flex-start,
  $direction: row,
  $flex: 0 1 auto
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex: $flex;
}
